# ---------------------------------------------------------
# Python
# ---------------------------------------------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment

.venv/

# macOS

.DS_Store

# VS Code

.vscode/

# Testing

.pytest_cache/
.coverage
htmlcov/

# Ruff

.ruff_cache/

# MyPy

.mypy_cache/

# Build

dist/
build/

# Logs

*.log